* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    text-align: center;
}


/* mobile first layout */

@media (min-width: 600px) {
    body {
        background: #FFCCCB;
    }
}


/* Container */

.container {
    display: flex;
    width: 100%;
}


/* Creating four column */

.column1,
.column2,
.column3,
.column4 {
    width: 25%;
    text-align: center;
}

.column1 {
    background-color: rgb(13, 13, 118);
}

.column2 {
    background-color: rgb(77, 23, 77);
}

.column3 {
    background-color: rgb(87, 85, 85);
}

.column4 {
    background-color: rgb(112, 37, 37);
}


/* media screen for 640px */

@media screen and (max-width: 640px) {
    .container {
        display: initial;
    }
    .column3,
    .column4 {
        display: none;
    }
    .column1 {
        width: 100%;
        background-color: rgb(199, 62, 147);
    }
    .column2 {
        width: 100%;
        background-color: #900D09;
    }
}


/* media screen for 1140px */

@media screen and (max-width: 1140px) {
    .container {
        width: 100%;
    }
}